@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');

* {
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}

html {
 font-family: 'Open Sans', sans-serif;
}
body {
 background-color: darkcyan;
 color: #f3f3f3;
 padding-top: 10rem;
 padding-left: 50%;
}